.header {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 2rem;
  padding: 1rem;
}

.accent {
  font-weight: 800;
}

.lng {
  position: absolute;
  right: 10px;
  top: 10px;
}

.contrastBtn {
  left: 10px;
  position: absolute;
  top: 10px;
}

.button {
  border-radius: 7px;
  cursor: pointer;
}
